<md-menu>

    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openLanguageMenu($mdOpenMenu, $event)">
        <md-icon md-font-set="material-icons">language</md-icon>
    </md-button>

    <md-menu-content width="4">

        <md-menu-item ng-repeat="menuItem in ctrl.languages track by menuItem.key">
            <md-button ng-click="ctrl.changeLanguage(menuItem.key)">
                <span class="flag-icon flag-icon-{{  menuItem.icon || menuItem.key }}"></span>&nbsp;{{ menuItem.name | translate }}
            </md-button>
        </md-menu-item>

    </md-menu-content>

</md-menu>
