login {
    background: #ccc;

    .login {
        background: #fff;
    }

    .loginWide {
        min-width: 400px;
    }

    .links button span {
        font-size: 12px;
    }

    form md-input-container {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}






