<div class="md-whiteframe-z3 layout layout-column layout-padding login" ng-class="{ loginWide : gtSm }">

    <div class="layout layout-align-center-center layout-margin">
        <div translate>Login</div>
        <span class="flex"></span>
        <ui-language-select></ui-language-select>
    </div>

    <form class="layout layout-column" name="loginForm">

        <md-input-container class="layout-margin">
            <label><md-icon >person</md-icon>&nbsp;{{ 'Username' | translate }}</label>
            <input type="text" ng-model="login.username" name="username" required minlength="5" aria-label="{{ 'Username' | translate }}"/>
            <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$dirty" role="alert">
                <div ng-message="required" translate>That's required!</div>
                <div ng-message="minlength" translate>Too short...</div>
            </div>
        </md-input-container>

        <md-input-container class="layout-margin">
            <label><md-icon >vpn_key</md-icon>&nbsp;{{ 'Password' | translate }}</label>
            <input type="text" ng-model="login.password" name="password" required minlength="5" aria-label="{{ 'Password' | translate }}"/>
            <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty" role="alert">
                <div ng-message="required" translate>That's required!</div>
                <div ng-message="minlength" translate>Too short...</div>
            </div>
        </md-input-container>

        <md-button class="md-raised md-primary" ui-sref="app.layout-sidebar.feature-a" aria-label="login"><span translate>Sign In</span></md-button>

    </form>

    <div class="links layout layout-sm-column layout-gt-sm-row layout-align-space-between-center" >
        <md-button><span translate>Forgot password?</span></md-button>
        <md-button><span translate>Create an account</span></md-button>
    </div>
</div>



