$flag-icon-css-path: '../assets/flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;



@mixin flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

@mixin flag-icon($country) {
    .flag-icon-#{$country} {
        background-image: url(#{$flag-icon-css-path}#{$flag-icon-rect-path}/#{$country}.svg);
        &.flag-icon-squared {
            background-image: url(#{$flag-icon-css-path}#{$flag-icon-square-path}/#{$country}.svg);
        }
    }
}

.flag-icon {
    @include flag-icon-background();
    position: relative;
    display: inline-block;
    width: (4 / 3) * 1em;
    line-height: 1em;
    &:before {
        content: '\00a0';
    }
    &.flag-icon-squared {
        width: 1em;
    }
}

@include flag-icon(de);
@include flag-icon(us);
@include flag-icon(gb);

md-toolbar {
  background-color: #f2f2f2;
  border-bottom: 5px solid #0089ff;
}

.main-toolbar.md-toolbar-tools {
    padding-left:0;
}

.translate-cloak {
    display: none;
}
