<style>
    canvas{
        width: 100% !important;
        max-height: 200px;
        min-height: 200px;

        height: auto !important;
    }

    md-card-content h2 {
        margin-top: 0;
    }
</style>

<div layout="row" layout-md="column" layout-sm="column" layout-margin>

    <md-card class="white md-whiteframe-z1" flex>
        <md-card-content flex style="overflow:hidden; max-width:100%">
            <h2>Animation Sample</h2>
            <canvas id="line" class="chart chart-line"
                    chart-data="chartTestState.data1.data"
                    chart-labels="chartTestState.data1.labels"
                    chart-series="chartTestState.data1.series"
                    chart-options="chartTestState.data1.options"
                    chart-legend="false"
                    chart-click="onClick"></canvas>
        </md-card-content>
    </md-card>

    <md-card class="white md-whiteframe-z1" flex>
        <md-card-content flex style="overflow:hidden; max-width:100%">
            <h2>Monitoring</h2>
            <canvas id="line" class="chart chart-line"
                    chart-data="chartTestState.data2.data"
                    chart-labels="chartTestState.data2.labels"
                    chart-series="chartTestState.data2.series"
                    chart-options="chartTestState.data2.options"
                    chart-legend="false"
                    chart-click="onClick"></canvas>
        </md-card-content>
    </md-card>

</div>
