:local(canvas){
    width: 100% !important;
    max-height: 200px;
    min-height: 200px;

    height: auto !important;
}

md-card {

}

md-card-content h2 {
    margin-top: 0;
}

md-card-content {
    overflow:hidden;
    max-width:100%
}

