<div class="layout layout-sm-column layout-gt-sm-row">

    <md-card class="white md-whiteframe-z1 flex-gt-sm" >
        <md-card-content>
            <h2>{{ 'CHARTTEST.CARD1-TITLE' | translate }}</h2>
            <canvas id="line" class="chart chart-line"
                    chart-data="chartTestState.data1.data"
                    chart-labels="chartTestState.data1.labels"
                    chart-series="chartTestState.data1.series"
                    chart-options="chartTestState.data1.options"
                    chart-legend="false"
                    chart-click="onClick"></canvas>
        </md-card-content>
    </md-card>

    <md-card class="white md-whiteframe-z1 flex-gt-sm" >
        <md-card-content>
            <h2>{{ 'CHARTTEST.CARD2-TITLE' | translate }}</h2>
            <canvas id="line" class="chart chart-line"
                    chart-data="chartTestState.data2.data"
                    chart-labels="chartTestState.data2.labels"
                    chart-series="chartTestState.data2.series"
                    chart-options="chartTestState.data2.options"
                    chart-legend="false"
                    chart-click="onClick"></canvas>
        </md-card-content>
    </md-card>

</div>
