<md-sidenav class="md-sidenav-left md-whiteframe-z2 layout layout-column" ng-class="{ 'sidebar-small' : layoutSidebar.sidebarSmall }" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" tabindex="-1">

    <md-toolbar class="sidebar-toolbar md-whiteframe-z2">
        <div class="md-toolbar-tools">

            <img src="../../assets/image/mini-logo.png"/>
            <h1 class="flex" translate>Dashboard</h1>
            <button class="md-button md-icon-button hide show-gt-sm" ng-click="layoutSidebar.toggleSidebarSize()" aria-label="toggle sidenav size" tabindex="0">
                <md-icon md-font-set="material-icons" ng-if="!layoutSidebar.sidebarSmall">chevron_left</md-icon>
                <md-icon md-font-set="material-icons" ng-if="layoutSidebar.sidebarSmall">chevron_right</md-icon>
            </button>

        </div>
    </md-toolbar>

    <md-content ui-view="left-content" role="navigation" flex md-scroll-y>
        <ui-menu layout="column"></ui-menu>
    </md-content>

</md-sidenav>

<div layout="column" layout-fill role="main">

    <md-toolbar class="md-whiteframe-z2">
        <div class="main-toolbar md-toolbar-tools">

            <span ui-view="toolbar-before"> </span>
            <button class="md-button md-icon-button" ng-click="layoutSidebar.toggleSidebar()" hide-gt-md aria-label="Show Menu" tabindex="0">
                <md-icon md-font-set="material-icons">menu</md-icon>
            </button>
            <h2 hide-sm><span hide-sm hide-md class="toolbar-title-padding"></span><span ui-view="toolbar-title"></span></h2>
            <span ui-view="toolbar-after"> </span>

            <ui-user-info></ui-user-info>
            <ui-language-select></ui-language-select>

        </div>
    </md-toolbar>

    <md-content ui-view flex md-scroll-y ></md-content>

</div>

